.skillicons {
  font-size: 60px;
  text-align: center;
  color: darkgreen;
  letter-spacing: 10px;
}
.skills {
  text-align: center;
  font-family: "Libre Baskerville";
}
#profile_pic {
  padding-right: 50px;
}
